table,tr,td{
    border-collapse:collapse;
}
.fline{
    border: 0px;
    font-size: 12px;
    background: rgb(242,202,45);
}
.fCol{
    background: rgb(255,254,206);
    width: 200px;
    text-align: right;
}
.sCol{
    background: rgb(255,254,206);
    width: 400px;
}
.lastCol{
    background: rgb(242,202,45);
}